@model Spice.Models.ViewModels.OrderListViewModel
@using Spice.Utilities

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/><br/>
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info"> Past Order List</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartial"/>
        </div>
    </div>
    <br/>
    <div>
        @if (Model.Orders.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(k => k.Orders[0].OrderHeader.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(k => k.Orders[0].OrderHeader.PickupName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(k => k.Orders[0].OrderHeader.ApplicationUser.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(k => k.Orders[0].OrderHeader.PickUpTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(k => k.Orders[0].OrderHeader.OrderTotal)
                    </th>
                    <th>
                        Total Time
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(k => item.OrderHeader.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(k => item.OrderHeader.PickupName)
                        </td>
                        <td>
                            @Html.DisplayFor(k => item.OrderHeader.ApplicationUser.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(k => item.OrderHeader.PickUpTime)
                        </td>
                        <td>
                            @Html.DisplayFor(k => item.OrderHeader.OrderTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(k => item.OrderDetails.Count)
                        </td>

                        <td>
                            <button type="submit" class="btn btn-success btnOrderDetail" data-id="@item.OrderHeader.Id" data-toggle="modal">
                                <i class="far fa-list-alt"></i>&nbsp;Details
                            </button>

                            @if (!item.OrderHeader.IsStatusEqualTo(StaticDetails.StatusCancelled))
                            {
                                <button type="submit" class="btn btn-info btnOrderStatus" data-id="@item.OrderHeader.Id" data-toggle="modal">
                                    <i class="far fa-clock"></i>&nbsp;Status
                                </button>
                            }
                        </td>
                    </tr>
                }
            </table>
            <div page-model="@Model.PagingInfo" page-classes-enabled="true" page-class="btn border"
                 page-class-normal="btn btn-light" page-class-selected="btn btn-info active"
                 class="btn-group float-right">
            </div>
            <br/>
        }
        else
        {
            <p>No category exists...</p>
        }
    </div>
</div>

<div class="modal fade" id="myOrderDetails" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog-centered modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-light justify-content-center">
                <h5 class="modal-title">Order Details</h5>
                <div class="col-1">
                    <button type="button" class="float-right btn-outline-secondary close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body justify-content-center" id="myOrderDetailsContent">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="width:20%" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myOrderStatus" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-light justify-content-center">
                <h5 class="modal-title">Order Status </h5>
            </div>
            <div class="modal-body justify-content-center" id="myOrderStatusContent">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="width:20%" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
    var OrderDetailsURL = '/Customer/Order/GetOrderDetails';
    var OrderStatusURL = '/Customer/Order/GetOrderStatus';

    $(function (){
        
             $(".btnOrderStatus").click(function (){
                 var $buttonClicked = $(this);
                 var id = $buttonClicked.attr('data-id');
                 $.ajax({
                    type: "GET",
                    url: OrderStatusURL,
                    contentType: "text/html; charset=utf-8",
                    data: {"Id": id},
                    cache: false,
                    dataType: "html",
                    success: function (data){
                        $('#myOrderStatusContent').html(data);
                        $('#myOrderStatus').modal('show');
                        },
                        error: function () {
                            alert("Dynamic content load failed")                    
                        } 
                 });
             });
        
     $(".btnOrderDetail").click(function () {
         
         var $buttonClicked = $(this);
         var id = $buttonClicked.attr('data-id');
         
         $.ajax({
            type: "GET",
            url: OrderDetailsURL,
            contentType: "application/json; charset=utf-8",
            data: {"Id": id},
            cache: false,
            dataType: "html",
            success: function (data){
              $('#myOrderDetailsContent').html(data);
              $('#myOrderDetails').modal('show');
            },
            error: function () {
                alert("Dynamic content load failed")                    
            }    
         });
     });
     
        
    });
    </script>
}